name: Build IzPack

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: temurin

    - name: Build with Maven
      run: mvn clean install -Ddependency-check.skip=true -B

    - name: Upload compiled JARs
      uses: actions/upload-artifact@v3
      with:
        name: izpack-jars
        path: |
          */target/*.jar
          
